@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    /* colors */
    --White: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
    
    /* font size */
    --Font-size: 15px
    /* font weight */
    --regular-400: 400;
    --bold-700: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Outfit;
}

body{
    max-width: 1440px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--Slate-300);
}

main{
    padding: 1em;
    background-color: var(--White);
    border-radius: 1em;
    width: 320px;
}

img {
    width: 100%;
    border-radius: 1em;
}

h1{
    font-weight: var(--bold-700);
    font-size: var(--Font-size);
    text-align: center;
    margin-block: .5em;
    color: var(--Slate-900);
}

p{
    font-size: 400;
    text-align: center;
    color: var(--Slate-500);
}

/* attribution styles*/

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}